#controlContainer {
    padding: inherit;

    grid-column-start: 5;
    grid-column-end: 6;

    background-image: linear-gradient(to top, white, grey);

    border-style: inset;
    border-color: black;
    border-width: thick;

    display: grid;
    grid-row-gap: 10px;

    grid-template-rows: 1fr 1fr;

}

#ioControlGroup {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-row: 1;
}

.save-group{
    grid-row: 1;

    display: flex;

    flex-direction: column;

    height: 100%;

    border-style: dashed;
    border-color: grey;
    border-width: thick;

    background-color: #d9d9d9;
}

.save-radio{
    font-family: sans-serif;
    height: 20%;
    display: flex;
}



#sketchControlGroup {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto;

    grid-row: 2;
}

.control-button {
    display: block;

    padding: 10px;

    height: 100%;

    background: white;
}
