#dataDisplayContainer {
    grid-column-start: 4;
    grid-column-end: 5;
}

.parts-table{
    height: 95%;
    width: 100%;
    display: block;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.th {
    height: 50px;
    background-color: #e6e6e6;
    color: black;
}

.td {
    padding: 15px;
    text-align: left;
}

.parts-table, .th, .td{
    border: 1px solid black;

}
