html {
    min-height: 100%;
    background-color: gray;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, white , gray);
}


#root {

    height: 100%;
    width: auto;
    padding: 1em;
}
