#canvasContainer {


    grid-column-start: 1;
    grid-column-end: 3;
}

.canvas-container {
    color: Black;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans;
    min-width: 700px;

    width: 100%;

}



canvas {
    margin: 0px; /* not inherited */
    /* border: 5px none gray; /* not inherited */
    padding: 0px; /* not inherited */

    border-style: outset;
    border-color: rgb(176, 196, 222, .7);
    border-width: medium;

    background-color: rgb(255, 255, 255, .9);
}
