html {
    min-height: 100%;
    background-color: gray;

    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("bckgnd.jpg");
}

body {
    height: 100vh;
    width: 100vw;

    /*background-image: linear-gradient(to bottom, white , grey);
    */

}

#header {

    background-color: rgb(219, 228, 240, .1);

    border-style: outset;
	border-color: rgb(176, 196, 222, .7);
	border-width: thin;
    border-radius: 10px;

    margin: 5px; /* not inherited */
    padding: 5px;
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;

    width: 28%;

}

#root {

    /* height: 100%;
    width: auto;
    */
    display:flex;
    flex-direction: column;
    padding: 1em;
}
