#appContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: normal;

    height: 100%;
    padding: inherit;
}

.ui {
    background-image: linear-gradient(to top, white, grey);

    height: 95%;

    border-style: inset;
    border-color: black;
    border-width: thick;

    padding: inherit;
}
