#canvasContainer {
  margin: 5px 5px 5px 5px; /* not inherited */
  padding: 20px; /* not inherited */
  min-width: 410px;

  grid-column-start: 1;
  grid-column-end: 4;
}

.canvas-container {
  margin: 5px 5px 5px 5px; /* not inherited */
  color: Black;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
  border: thin solid black;
  min-width: 410px;

  width: 100%;
  height: 100%;
}

#header {
  margin: 5px; /* not inherited */
}

#viewerContext {
  margin: 5px; /* not inherited */
  border: thin solid gray; /* not inherited */
  padding: 5px; /* not inherited */

  background: white;
  width: 95%;
  height: 95%;

  top: 0px;
  bottom: 0px;
}

canvas {
  margin: 0px; /* not inherited */
  border: 5px none gray; /* not inherited */
  padding: 0px; /* not inherited */

  background-color: white;
}
