
#controlContainer {
    grid-column-start: 5;
    grid-column-end: 6;
}


#ioControlGroup {
    height: 85%;

    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(5, 1fr);;
}

.save-group{
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;

    flex-direction: column;

    height: 100%;

    border-style: outset;
    border-color: grey;
    border-width: thin;

    background-color: #d9d9d9;
}

.save-radio{
    display: block;
}



#sketchControlGroup {
    height: 85%;

    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto;

}

.control-button {
    display: block;

    padding: 10px;

    height: 100%;

    background: white;
}
